@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    overflow-x: hidden;
  }
}

@layer components {
  .navLink {
    @apply hover:underline decoration-orange-400 text-center decoration-2 active:underline underline-offset-8
    rounded-full p-4 cursor-pointer hover:font-bold capitalize hover:scale-110 transition-transform duration-200
    ease-out;
  }

  .headerTitle {
    @apply text-4xl font-serif capitalize px-10 pt-5 underline
    decoration-orange-400 decoration-2 underline-offset-4 
    decoration-double
  }

  .tab-label:hover {
    text-decoration: underline;
    text-decoration-color: #FFA500; /* Orange-400 */
  }
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }

  .navbar__link:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }
  .hover-bg-accent:hover {
    background-color: #FF8F9C
  }
}
